@charset "utf-8";

/* ILYA GOLOVIN 4/13/2022
   
   
 
*/


html {
    background: lightblue;
}


 /* Horizontal Navigation Styles */

 nav.horizontalNavigation a {
    font-family: Champagne, cursive;
    font-size: 1.4em;
    line-height: 1.8em;
    text-align: center;

} 

 nav.horizontalNavigation a:link, 
 nav.horizontalNavigation a:visited {
   color: aliceblue;
    
 }
 
 nav.horizontalNavigation a:hover
  {
    
    font-size: 2em;
    font-size-adjust: 2em;
    background-color: rgb(241, 62, 247);
    border-radius: 10px;
    padding: 20px;
 } 


 
 .size1-2 p {
    font-size: 1.5em;
 }

 .size1-1 p {
   font-size: 1.5em;
 }
 .size1-5 p {
   font-size: 1.5em;
   
 }

 .size1-5 {
   transition: transform .2s; /* Animation */
 }


 .size1-5:hover {
   transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }

 .size1-2 h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
 }

 .size1-1 h1 {
   text-align: center;
   font-size: 2em;
   font-weight: 600;
}

.size1-5 h1 {
   text-align: center;
   font-size: 2em;
   font-weight: 600;
}


 .header-box h1 {
   font-size: 4.5em;
   color: white;
   text-shadow: rgb(181,211, 181) 2px 2px 1px,
                rgba(21, 21, 21, 0.66) 5px 5px 25px;
   
}

.container1 h1 {
   border-top: 2px solid rgba(128,98,26,1.00);
   margin-top: 20px;
   padding: 10px;
}


/* Mountains */

.container1 {
   font-size: 1.5em;
   text-align: center;
}

.buttom-images img {
   transition: transform .2s; /* Animation */
 }

.buttom-images img:hover {
   transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
   box-shadow: 20px 20px 50px grey;;
}

.buttom-images img {
   width: 200px;
   border-style: solid;
  border-color: coral;
  
   
}

/*  Restaurants  */
.restaurant-container1 {
   border-style: solid;
   border-color: coral;
   border-radius: 10px;
   margin-top: 10px;
}

.restaurant-container1 h1, h3{
   text-align: center;
   font-size: 2em;
   margin: 10px;
 
}

.restaurant-container1 p {
   text-align: center;
   font-size: 1em;
   
}

.restaurant-container1 address {
   text-align: center;
   font-size: 1.5em;
}

.buttom-images-restaurant {
   display: flex;
   flex-flow: row wrap;
}

.buttom-images-restaurant img {
width: 200px;
 
margin: 5px;
}

#sun{
   color: yellow;
}
#beach{
   color: blue;
}
#mount{
   color: lightgreen;
}
#restaurant{
   color: gold;
}

.material-symbols-outlined {
   font-size: 1em;
}


/*  Video Sochi  */

aside#video p, h1 {
  
   text-align: center;
   font-size: 1.5em;
}


iframe {
   margin-left: 250px;
   width: 500px;
   height: 300px;
   border-radius: 15px;
   justify-content: center;
}




body > section > aside#video {
   color: rgb(81, 81, 81);   
  
   background-color: rgb(255, 177, 66);
   box-shadow: inset 15px 15px 25px rgba(101, 101, 101, 0.4),
               inset -15px -15px 25px rgba(101, 101, 101, 0.4);
   border-radius: 35px;
   padding: 20px;
}


/*  Add font awesome icons  */
.fa {
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
 }
 
 .fa:hover {
     opacity: 0.7;
 }
 
 .fa-facebook {
   background: #3B5998;
   color: white;
 }
 
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }
 .fa-linkedin {
   background: #007bb5;
   color: white;
 }
 .fa-instagram {
   background: #125688;
   color: white;
 }

 /* Paragraph Creating Drop Caps with CSS*/

 .main-container p::first-letter {
    font-size: 1.9em;
    float: left;
    line-height: 0.7;
 }
  .main-container-beach p::first-letter {
   font-size: 1.9em;
   float: left;
   line-height: 0.7;
}
.main-container-mountains p::first-letter {
   font-size: 1.9em;
   float: left;
   line-height: 0.7;
}

